/************All************/
body{
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
}


/************HEADER************/

/************menu************/
.menu {
    display: none;
    flex-basis: 100%;
}

.menu-checkbox:checked ~ .menu {
    display: block;
}

.menu-checkbox {
	opacity: 0;
	position: absolute;
	top: -1000px;
}

.menu-checkbox:focus + .menu-toggle {
    outline: #00A1A1 auto 5px;
}

.menu-toggle {
    padding: .5em 1em;
}

.nav-wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}